.drop{
    position: relative;
    display: inline-block;

    &-button{
        

        &:after{
            content: '';
            display: inline-block;
            border-top:4px solid ;
            margin-left: 5px;
            vertical-align: 3px;
            border-bottom: 0;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            
        }
       

    }
    &-menu{
        display: none;
       position: absolute;
       top: 80%;
       left: 21px;
       z-index: 500;
       min-width: 124px;
       border: 1px solid rgba(0,0,0,.15);
        border-radius: 2px;


    }
    &-item{
        
        width: 100%;
        line-height: 15px;
        padding: 7px 10px;
        text-decoration: none;
        color: $dark;
        display: block;


    &:hover{
        background-color: rgba(0,0,0, .05);

    }
    }
}